.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(135, 135, 135);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover{
  color: rgb(204, 0, 255);
}
